/*
#f8efea //off white
#ded369 //inside of avocado green
#e0475b //lighter than tomato red
#192f01 //salad dark green
*/

html, body {
    height: 100%;
    width: 100%;
    background-color: #f8efea;
}

.fitScreen {
    height: 100%;
}

.navbar {
    height: 10%;
    overflow: hidden;
    background-color: #ded369;
    display: flex;
    justify-content: space-between;
}

/* Colour change from hovering over the menu */
.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: #e0475b;
}


.navbar #top-left-logo {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbar #top-right-links {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #f8efea;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.right {
    float: right;
}

.left {
    float: left;
}

.half-page {
    max-width: 50%;
}
