html, body {
    height: 100%;
    width: 100%;
    /*background-color: #EAE1D7; */
    color: #0A2E36;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.fitScreen {
    height: 80%;
}

.navbar {
    height: 10%;
    overflow: hidden;
    background-color: #09a129;
    display: flex;
    justify-content: space-between;
    color: #EAE1D7;
    font-family: 'Open Sans', sans-serif;
    text-transform:uppercase;
    /*box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);*/
}

a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    padding-right: 1vw;
    padding-left: 1vw;
}

.navbar a{
    color: #EAE1D7;
}

.navbar a:hover, footer a:hover {
    background-color: #14CC60;
    border-radius: 10px;
}

/* Colour change from hovering over the menu - removed for now, we might re-do */


.navbar #top-left-logo {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbar #top-right-links {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #f8efea;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #036D19;
    align-items: center;
    width: 100%;
    height: 10%;
}

footer a {
    color: #EAE1D7;
    font-size: larger;
}

/* HOMESCREEN CSS */

#homescreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    flex-grow: 1;
    background-image:url("./static/homescreen_background2.png");
    background-size:cover;
}

#homescreen img {
    padding-top: 20vh;
    padding-bottom: 20vh;
}

#homescreen input {
    padding-right: 1vw;
    padding-left: 1vw;
    width: 60vw;
    font-size: 4vh;
}

#homescreen #searchbar {
    text-transform: capitalize;
}

#homescreen #suggestions-box {
    height: 10px;
}

#homescreen #suggestions-box ul {
    column-count: 6;

    margin: 0;
    padding: 0;

    column-gap: 20px;

    text-transform: capitalize;
}

#homescreen #share_button {
    margin: 10vh 0 25vh;
}
/* END OF HOMESCREEN CSS */

/* ABOUT CSS */
#about-us {
    background-image: url("static/about_background.png");

    background-attachment: fixed;

    background-size: cover;
}

#mission-values {
    padding: 3vw;
    display: flex;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* SEARCH PAGE CSS */
#find_recipe {
    background-image: url("static/search_background.png");

    background-attachment: fixed;

    background-size: cover;
}

.recipe-search img {
    height: 400px;
    width: 711px;
    object-fit: cover;
    border-radius: 5%;
}

/* ENDOF SEARCH PAGE CSS */


/* General Recipe menu CSS (can be used for other stuff) */
div.wrapper {
    display: flex;
    justify-content: center;
}

div.wrapper-spaced {
    display: flex;
    justify-content: space-around;
}

div.dropdown  ul {
    list-style-type: none !important;
    padding: 0;
    margin: 0;
}

div.dropdown  li {
    list-style-type: none !important;
    padding: 0;
    margin: 0;
}

/* ENDOF General Recipe menu CSS (can be used for other stuff) */


/*  PRICING CSS */
#pricing {
    background-image:url("static/pricing_background.png");

    background-attachment: fixed;

    background-size: cover;
}

/* END OF PRICING CSS */


/* FAQ CSS */
#faq {
    background-image: url("static/faq_background.png");
    background-size: cover;
    background-attachment: fixed;
}


div.faq li {
    list-style-type: none !important;
    padding: 0;
    font-size: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20px;
}

button.faq-button {
    width: 60%;
    height: 90px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 24px;
    background-color: #14CC60;
    color: #0A2E36;
} 

/* ENDOF FAQ CSS */


/* FEATURES CSS */
#features {
    background-image: url("./static/features_background.png");

    background-attachment: fixed;

    background-size: cover;
}

/* PROFILE CSS (prob can't be used for other stuff) */
button.recipe-button {
    width: 90%;
    height: 90px;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: normal;
    font-size: 24px;
    background-color: #14CC60;
    color: #0A2E36;
    
    text-align: center;
    vertical-align: middle;
} 
/*

div.recipe-container {
    display: none;
}
*/



div.dropdown  div.recipe-gallery {
    margin: 5px 5px 5px 5px;
    float: left;
}

div.dropdown  div.recipe-gallery img {
    margin: 5px 5px 5px 5px;
    float: left;
    width: 100%;
    height: auto;
}

div.img-desc {
    padding: 15px;
    width: 100%;
    text-align: center;
}
/* ENDOF PROFILE CSS (prob can't be used for other stuff) */

/* DEMO RECIPE CSS */
#Recipe1 {
    background-image:url("./static/demorecipe_background.png");
    background-attachment: fixed;

    background-size: cover;
}